doctype html
html(lang="")
  head
    // ...
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet">
     link(rel="stylesheet", href="./src/main.scss")
  body
    main
    .link
     a(href="./src/pages/404/404.pug") 404
    .link
     a(href="./src/pages/500/500.pug") 500
    .link
      a(href="./src/pages/chat/chat.pug") chat
    .link
      a(href="./src/pages/login/login.pug") login
    .link
      a(href="./src/pages/profile/profile.pug") profile
    .link
      a(href="./src/pages/profile/profile-password-change.pug") profile password change
    .link
      a(href="./src/pages/profile/profile-change.pug") profile data change
    .link
      a(href="./src/pages/register/register.pug") register
